@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/*LOADER*/

.contenedor-loader{
 /* background-color: #f3f3f3;*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: all 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader, .loader::before, .loader::after{
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: spinner 1.5s infinite ease-in-out;
}

.loader{
  color: #ffc107;
  font-size: 13px;
  position: relative;
  animation-delay: -0.16s;
}

.loader::before, .loader::after{
  content: "";
  position: absolute;
  top: 0;
}

.loader::before{
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader::after{
  left: 3.5em;
}

@keyframes spinner {
  0%, 80%, 100%{box-shadow: 0 2.5em 0 -1.3em;}
  40%{box-shadow: 0 2.5em 0 0;}
}
/* FIN LOADER*/



.contenedor-header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.inicio{
  /* background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)); */
  background-color: #212529;
  /* url(img/fondo.jpg); */
  background-size: cover;
  height: 100vh;
  color: #fefee3;
  display: flex;
  align-items: center;
}
.inicio .contenedor{
  padding: 50px;
  /* background-color: #1e2326; */
  background-color:#212529;
  border: 1px solid #081c15;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius:100px;
}


.inicio img{
  border: 10px solid #ffc107;
  display: block;
  
  width: 50%;
  margin: auto;
  border-radius: 100%;
  
  
}
/* SECCION ICONOS REDES SOCIALES */
.quiensoy{
  padding: 60px 20px;
}
.quiensoy p{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0px;
}

.redes{
  margin: 5px;
  padding: auto 5px ;
  font-size: 35px;
}

.redes a{
    text-align: none;
    color: #ffc107;
    margin: 0px 5px;
    padding: 10px;
    transition: .5s;
    text-decoration: none;

}
.redes a:hover{
  color: #081c15;
}

/* SECCION SOBRE MI */
.sobremi{
  /* background-color: #252A2E; */
  background-color: #2E3036;
  /* url(img/fondo.jpg); */
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
}
/* .contenido-sobremi{
  padding: 50px;
  /* background-color: #1e2326; 
  background-color:#003459;
  /* border: 1px solid #081c15; 
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius:100px;
} */
.sobremi h3{
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 40px;
  text-align: left;
}

.sobremi ul{
  list-style:none;
 
  
}

.sobremi ul li{
  margin: 12px 0;
  
}

.sobremi ul li i{
    /* background-color: #1CB698; */
    color: #ffc107;
    padding: 3px;
    font-size: 30px;
    margin: auto;
    
   
    

}

.sobremi ul li strong{
  display: inline-block;
 text-align: left;
  color: #ffffff;
  width: 300px;
  margin-left: 80px;
  font-size: 22px;
}
/* SECCION EDUCACION */
.educacion{
  /* background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)); */
  /* url(img/fondo.jpg); */
  background-color: #2B2E33;
  background-size: cover;
  height: 100vh;
  color: rgb(10, 2, 2);
  display: flex;
  align-items: center;

}

/* .linea-de-tiempo{
  margin: 90px auto;
  width: 360px;
  border-left: 2px solid rgb(187, 73, 73);
  padding: 0 20px 0 30px;
}

.linea-de-tiempo .escuela{
  background-color: #00a8e8;
  padding: 20px 15px;
  font-size: 16px;
  border: 1px solid #00171f;
  line-height: 1.7;
  position: relative;
  height: 150px;
  margin-bottom: 20px;
}

.linea-de-tiempo.escuela:before{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}
.linea-de-tiempo .escuela:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}

.linea-de-tiempo .escuela h2{
  margin: 0;
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linea-de-tiempo .escuela h3{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.linea-de-tiempo .escuela div h4{
  margin: 0;
  font-family:poppins;
}

.timeline {
  padding: 60px 0 20px 0;
  position: relative;
}

/* linea vertical 
.timeline:after {
  background-color: #eaeaea;
  content: " ";
  height: 100%;
  left: 49%;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 0;
}


.timeline .timeline-inner {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}


.timeline .timeline-inner:last-child {
  margin-bottom: 0;
}

.timeline .timeline-inner .name {
  float: left;
  font-size: 18px;
  padding-right: 4px;
  position: relative;
  text-align: right;
  width: 46%;
}

.timeline .timeline-inner .name:before {
  background: #ffd42d;
  border: 2px solid #fff;
  border-radius: 100%;
  content: " ";
  height: 15px;
  position: absolute;
  right: -2.1em;
  top: 1px;
  width: 15px;
 -webkit-background-clip: padding-box; 
 -moz-background-clip:padding; 
 background-clip:padding-box;
}

.timeline .timeline-inner .name.switched:before{
  background: #2a2a2a;
 -webkit-background-clip: padding-box; 
 -moz-background-clip:padding; 
 background-clip:padding-box;

}

.timeline .timeline-inner .detail {
  margin-left: 41%;
  padding-left: 94px;
  position: relative;
text-align:left;
width:56%;
}

.timeline .timeline-inner .name h4 {
  margin-bottom: 0;
font-size: 15px;
  font-weight: 400;
}


.timeline .timeline-inner .name span.date {
  color:#999999;
  font-size: 13.5px;
  font-weight: 400;
}

.timeline .timeline-inner .name span.date em {
 background:#ffd42d;
  border-radius: 3px;
-moz-border-radius:3px;
-webkit-border-radius :3px;
-ms-border-radius:3px;
-o-border-radius: 3px;
  color: #2a2a2a;
  font-size: 12.5px;
  font-weight: 400;
  margin-left: 10px;
  padding: 2px 7px;
  position: relative;
  top: -1px;
position:relative;
}


.timeline .timeline-inner .name span.date em:before {
  border-color: transparent #ffd42d;
  border-style: solid;
  border-width: 6px 5px 6px 0;
  content: "";
  display: block;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 0;
  z-index: 0;
} */

/* LINEA DE TIEMPO*/
/* * {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    font-size: 14px;
} */

.circle {
  padding: 16px 20px;
  border-radius: 30%;
  background-color: #ffc107;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}
p, h5, h4{
  font-family: 'Work Sans';
 
}
h5{
  color: #ffc107;
}
h4{
  color: #ffc107;
  font-weight: bold;
}
p {
    color: #fff;
    font-size: 14px;
}

/*  h2 {
    color: #6f45a7;
    font-weight: bold; 
}*/
.connecting-lines.row .col-2 {
  align-self: stretch;
}
/* .connecting-lines.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ffc107;
  z-index: 1;
} */
.connecting-lines.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.connecting-lines.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.connecting-lines.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
/*  .timeline hr {
  border-top: 3px solid #ffc107;
  margin: 0;
  top: 17px;
  position: relative;
} */
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ffc107;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/* FIN LINEA DE TIEMPO*/


/* SECCION EXPERIENCIA */
.experiencia{
   background-color: #2E3036;
  /* url(img/fondo.jpg); */
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

/* SECCION CONTACTO */
.contacto{
  /* background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)); */
  /* url(img/fondo.jpg); */
  background-color:#2b2e33;
  /* background-image: url(/img/domenico-loia-hGV2TfOh0ns-unsplash.jpg); */
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

/* SECCION FOOTER */

.footer-logo a{
  font-family: 'Righteous';
  font-size: 50px;
  color: #1CB698;
  text-decoration: none;
}